---
import { getCollection } from "astro:content";

const [blog, projects] = await Promise.all([
  getCollection("blog", ({ data }) => !data.draft),
  getCollection("projects", ({ data }) => !data.draft),
]);
const entries = [...blog, ...projects];
const tags = [...new Set(entries.flatMap((entry) => entry.data.tags || []))].sort();
---

{
  tags.length > 0 && (
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => (
        <a
          href={`/tags/${tag}`}
          class="rounded-sm border border-black/15 px-2 py-1 text-sm transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
        >
          {tag}
        </a>
      ))}
    </div>
  )
}
